[Desktop Entry]
Name=make a bootable usb
Name[ja]=ブータブルUSBの作成
Comment=This script helps to create a bootable usb.
Comment[ja]=ブータブルUSBを作成します.
Exec=sudo knxm-mkusbmath-debian
Icon=preferences-system
Terminal=true
Type=Application
Categories=Settings;HardwareSettings;
